---
interface Props {
  id: string;
  data: Object[];
  featureSide: 'left' | 'right';
}

import IconBlock from './IconBlock.astro';

const { data, id, featureSide } = Astro.props;

// TODO: Make accordion for small screens?
---

<div
  class='grid w-full place-items-center bg-cover bg-center
bg-secondary min-h-screen'
  id={id}
>
  <div class='grid md:grid-cols-2 gap-12 mt-24'>
    <!-- HEADING -->
    <div
      class={featureSide === 'left'
        ? 'prose z-0 flex items-center justify-center gap-4 p-4 text-center prose-h2:text-5xl prose-h2:font-bold order-1 md:order-2'
        : 'prose z-0 flex items-center justify-center gap-4 p-4 text-center prose-h2:text-5xl prose-h2:font-bold'}
    >
      <h2 class='text-3xl font-bold lg:text-5xl max-w-[16ch] md:max-w-[65ch]'>
        <slot name='heading' />
      </h2>
      <p class='mt-3 text-2xl'></p>
    </div>
    <!-- END HEADING -->

    <!-- ICON BLOCK -->
    <div
      class={featureSide === 'left'
        ? 'my-auto mx-auto mb-10 space-y-6 lg:space-y-10 max-w-[40ch] sm:max-w-[65ch] order-2 md:order-1'
        : 'my-auto mx-auto mb-10 space-y-6 lg:space-y-10 max-w-[40ch] sm:max-w-[65ch]'}
    >
      {
        data.map((item: any) => (
          <IconBlock
            titlePre={item.titlePre}
            title={item.title}
            description={item.description}
            iconName={item.icon}
            link={item.link}
          />
        ))
      }
    </div>
    <!-- END ICON BLOCK -->
  </div>
</div>
