---
interface Props {
  iconName: string;
  titlePre: string;
  title: string;
  description: string;
  link?: string;
}

import { Icon } from 'astro-icon/components';
const { iconName, titlePre, title, description, link } = Astro.props as Props;
---

<div class='grow prose'>
  <h3 class='text-2xl font-semibold flex'>
    <Icon name={iconName} class='shrink-0 size-8 text-accent mr-3' />
    <span class=''>{titlePre}</span>
    <span class='self-center'>{title}</span>
  </h3>
  <p class='mt-1'>{description}</p>
  {
    link && (
      <a
        href={link}
        class=' border-b-2 border-accent hover:bg-accent hover:text-primary hover:rounded-sm hover:border-2'
      >
        Learn More
      </a>
    )
  }
</div>
