---
interface Props {
  iconName: string;
  titlePre: string;
  title: string;
  description: string;
  link?: string;
}

import { Icon } from 'astro-icon/components';
const { iconName, titlePre, title, description, link } = Astro.props as Props;
---

<div class='grow prose'>
  <h3 class='text-2xl font-semibold flex'>
    <Icon name={iconName} class='shrink-0 size-8 text-accent mr-3' />
    <span class='self-center'>
      <span class='text-neutral-300 font-light'>
        {titlePre}
      </span>
      {title}
    </span>
  </h3>
  <p class='mt-1'>{description}</p>
  {
    link && (
      <a
        href={link}
        class='no-underline 
        bg-[url(/src/icons/1x2-00adb5ff.png)] bg-repeat-x bg-[left_95%]
        hover:bg-accent hover:text-primary hover:rounded-sm'
      >
        Learn More
      </a>
    )
  }
</div>
